In [3]:
!pip install numpy scipy matplotlib ipython scikit-learn pandas pillow mglearn

Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: scipy in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: ipython in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: pillow in /opt/conda/lib/python3.6/site-packages
Collecting mglearn
  Downloading mglearn-0.1.6.tar.gz (541kB)
    100% |████████████████████████████████| 542kB 835kB/s ta 0:00:01
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages/cycler-0.10.0-py3.6.egg (from matplotlib)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 in /opt/conda/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: pygments in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: decorator in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: simplegeneric>0.8 in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.6/site-packages (from ipython)
Requirement already satisfied: olefile in /opt/conda/lib/python3.6/site-packages (from pillow)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.6/site-packages (from traitlets>=4.2->ipython)
Building wheels for collected packages: mglearn
  Running setup.py bdist_wheel for mglearn ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/79/8b/2b/17dcfb9c9b044b216a58daea9787a0637cb1ffc5b4c2a78e50
Successfully built mglearn
Installing collected packages: mglearn
Successfully installed mglearn-0.1.6

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import mglearn

from IPython.display import display

%matplotlib inline

In [5]:
characters = \
  pd.DataFrame([["John Snow", "male", 16, 3, 2],
                ["Arya Stark", "female", 11, 4, 1],
                ["Daenerys Targeryan", "female", 16, 2, 1],
                ["Jamie Lannister", "male", 36, 1, 1]
               ], columns=['Name', 'Gender', 'Age', 'Brothers', 'Sisters'])

In [7]:
characters

                 Name  Gender  Age  Brothers  Sisters
0           John Snow    male   16         3        2
1          Arya Stark  female   11         4        1
2  Daenerys Targeryan  female   16         2        1
3     Jamie Lannister    male   36         1        1

In [8]:
characters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
Name        4 non-null object
Gender      4 non-null object
Age         4 non-null int64
Brothers    4 non-null int64
Sisters     4 non-null int64
dtypes: int64(3), object(2)
memory usage: 240.0+ bytes

In [10]:
characters = \
  pd.DataFrame({
    'Name': ['John Snow', 'Arya Stark', 'Daenerys Targeryan', 'Jamie Lannister'],
    'Gender': pd.Categorical(['male', 'female', 'female', 'male']),
    'Age': [16, 11, 16, 36],
    'Brothers': [3, 4, 2, 1],
    'Sisters': [2, 1, 1, 1],
  }, columns=['Name', 'Gender', 'Age', 'Brothers', 'Sisters'])

characters

                 Name  Gender  Age  Brothers  Sisters
0           John Snow    male   16         3        2
1          Arya Stark  female   11         4        1
2  Daenerys Targeryan  female   16         2        1
3     Jamie Lannister    male   36         1        1

In [11]:
temp_characters = \
  pd.DataFrame({
    'Name': ['John Snow', 'Arya Stark', 'Daenerys Targeryan', 'Jamie Lannister'],
    'Gender': ['male', 'female', 'female', 'male'],
    'Age': [16, 11, 16, 36],
    'Brothers': [3, 4, 2, 1],
    'Sisters': [2, 1, 1, 1],
  }, columns=['Name', 'Gender', 'Age', 'Brothers', 'Sisters'])

In [12]:
temp_characters

                 Name  Gender  Age  Brothers  Sisters
0           John Snow    male   16         3        2
1          Arya Stark  female   11         4        1
2  Daenerys Targeryan  female   16         2        1
3     Jamie Lannister    male   36         1        1

In [14]:
temp_gender = pd.Categorical(['male', 'female'])

temp_gender

[male, female]
Categories (2, object): [female, male]

In [15]:
dir(temp_gender)

['T',
 '__array__',
 '__array_priority__',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_categories',
 '_codes',
 '_constructor',
 '_dir_additions',
 '_dir_deletions',
 '_get_categories',
 '_get_codes',
 '_get_labels',
 '_get_ordered',
 '_get_repr',
 '_maybe_coerce_indexer',
 '_ordered',
 '_reduce',
 '_repr_categories',
 '_repr_categories_info',
 '_repr_footer',
 '_reset_cache',
 '_reverse_indexer',
 '_set_categories',
 '_set_codes',
 '_slice',
 '_tidy_repr',
 '_typ',
 '_validate_categories',
 '_validate_ordered',
 'add_categories',
 'argsort',
 'as_ordered',
 'as_unordered',
 'astype',
 'base',
 'categories',
 'check_for_ordered',
 'codes',
 'copy',
 'describe',
 'dropna',
 'dtype',
 'equals',
 'fillna',
 'from_array',
 'from_codes',
 'get_values',
 'is_dtype_equal',
 'isnull',
 'itemsize',
 'labels',
 'map',
 'max',
 'memory_usage',
 'min',
 'mode',
 'nbytes',
 'ndim',
 'notnull',
 'order',
 'ordered',
 'put',
 'ravel',
 'remove_categories',
 'remove_unused_categories',
 'rename_categories',
 'reorder_categories',
 'repeat',
 'reshape',
 'searchsorted',
 'set_categories',
 'set_ordered',
 'shape',
 'shift',
 'size',
 'sort',
 'sort_values',
 'take',
 'take_nd',
 'to_dense',
 'unique',
 'value_counts',
 'view']

In [16]:
temp_gender.view()

[male, female]
Categories (2, object): [female, male]

In [18]:
characters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
Name        4 non-null object
Gender      4 non-null category
Age         4 non-null int64
Brothers    4 non-null int64
Sisters     4 non-null int64
dtypes: category(1), int64(3), object(1)
memory usage: 228.0+ bytes

In [19]:
characters[characters.Age < 20]

                 Name  Gender  Age  Brothers  Sisters
0           John Snow    male   16         3        2
1          Arya Stark  female   11         4        1
2  Daenerys Targeryan  female   16         2        1

In [20]:
characters.describe()

             Age  Brothers  Sisters
count   4.000000  4.000000     4.00
mean   19.750000  2.500000     1.25
std    11.086779  1.290994     0.50
min    11.000000  1.000000     1.00
25%    14.750000  1.750000     1.00
50%    16.000000  2.500000     1.00
75%    21.000000  3.250000     1.25
max    36.000000  4.000000     2.00

In [21]:
characters.sort_values(by=['Age', 'Name'])

                 Name  Gender  Age  Brothers  Sisters
1          Arya Stark  female   11         4        1
2  Daenerys Targeryan  female   16         2        1
0           John Snow    male   16         3        2
3     Jamie Lannister    male   36         1        1

In [23]:
encoded = characters.copy()
encoded['Male']   = (encoded.Gender == 'male').astype(float)
encoded['Female'] = (encoded.Gender == 'female').astype(float)
encoded

                 Name  Gender  Age  Brothers  Sisters  Male  Female
0           John Snow    male   16         3        2   1.0     0.0
1          Arya Stark  female   11         4        1   0.0     1.0
2  Daenerys Targeryan  female   16         2        1   0.0     1.0
3     Jamie Lannister    male   36         1        1   1.0     0.0

In [24]:
extended = characters.copy()
extended['Siblings'] = extended.Brothers + extended.Sisters
extended

                 Name  Gender  Age  Brothers  Sisters  Siblings
0           John Snow    male   16         3        2         5
1          Arya Stark  female   11         4        1         5
2  Daenerys Targeryan  female   16         2        1         3
3     Jamie Lannister    male   36         1        1         2